{% load seeker %}
<td class="{{ result.meta.doc_type }}_{{ field }} {% if model_lower %}{{ model_lower }}_{{ field }}{% endif %} {{ doc_class_name }}_{{ field }}">
    {% if truncated_value %}
        {% if highlight %}
            {{ truncated_value|seeker_format }}
        {% else %}
            {{ truncated_value|seeker_format|safe }}
        {% endif %}
    {% elif highlight %}
        {{ highlight|seeker_format|safe }}
    {% else %}
        {{ value|seeker_format }}
    {% endif %}
    {% block after-value %}
    {% endblock after-value %}
</td>
