{% load seeker %}
{% load i18n %}

{% block seeker-pagination %}
<div class="pull-right">
    {% block seeker-pager %}
        {% seeker_pager total_hits page_size=page_size page=page querystring=querystring spread=page_spread %}
        {% if total_hits >= paginator_cap %}
            <p class="help-block text-center">**Paging has been limited to the first {{ paginator_cap|intcomma }} results.**</p>
        {% endif %}
    {% endblock seeker-pager %}
</div>
{% endblock seeker-pagination %}

<p>
    <em>Found {{ total_hits|intcomma }} result{{ total_hits|pluralize }} in {{ results.took }} millisecond{{ results.took|pluralize }}</em>
    {% if export_name %}
        {% block export-link %}&mdash; <a href="?{{ querystring }}&amp;_export">{% trans "Export these results" %}</a>{% endblock export-link %}
    {% endif %}
</p>
