{% load i18n %}

{% if current_search %}
    <div class="page-header">
        <form action="" method="post" class="pull-right">
            {% csrf_token %}
            <input type="hidden" name="querystring" value="{{ querystring }}" />
            {% if current_search.default %}
                <button type="submit" name="_unset" class="btn btn-default btn-xs">{% trans "Unset Default" %}</button>
            {% else %}
                <button type="submit" name="_default" class="btn btn-default btn-xs">{% trans "Set as Default" %}</button>
            {% endif %}
            <button type="submit" name="_delete" class="btn btn-danger btn-xs">{% trans "Delete Search" %}</button>
        </form>
        <h2>{{ current_search }}</h2>
    </div>
{% endif %}
