{% load i18n %}

<ul class="pagination">
    {% if page.has_previous %}
        <li><a href="?{{ querystring }}{% if querystring %}&amp;{% endif %}{{ param }}={{ page.previous_page_number }}" title="{% trans "Previous Page" %}"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
    {% endif %}
    {% for p in page_range %}
        <li{% if p == page.number %} class="active"{% endif %}><a href="?{{ querystring }}{% if querystring %}&amp;{% endif %}{{ param }}={{ p }}">{{ p }}</a></li>
    {% endfor %}
    {% if page.has_next %}
        <li><a href="?{{ querystring }}{% if querystring %}&amp;{% endif %}{{ param }}={{ page.next_page_number }}" title="{% trans "Next Page" %}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    {% endif %}
</ul>
