{% load seeker %}
{% load i18n %}

<table class="table table-striped table-seeker">
    <thead>
        <tr>
            {% if show_rank and keywords %}
                <th><a href="?{{ reset_querystring }}">{% trans "Rank" %}</a></th>
            {% endif %}
            {% for col in display_columns %}
                <th>{% seeker_header col querystring %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                {% if show_rank and keywords %}
                    <td>{% seeker_score result results.hits.max_score %}</td>
                {% endif %}
                {% for col in display_columns %}
                    <td>{% seeker_column col result %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
