{% load seeker %}

<table class="table table-striped table-seeker">
    <thead>
        <tr>
            {% if keywords %}
                <th>{% sort_link "" label="Rank" querystring=querystring %}</th>
            {% endif %}
            {% for name in display_fields %}
                <th>{% sort_link name querystring=querystring document=document %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                {% if keywords %}
                    <td>{% result_score result results.hits.max_score %}</td>
                {% endif %}
                {% for name in display_fields %}
                    {% if name in link_fields %}
                        <td><a href="{% result_link result name view=view %}">{% result_value result name %}</a></td>
                    {% else %}
                        <td>{% result_value result name %}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
